<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="utf-8">
    <title>Delete a user</title>
</head>
<body>
You're about to delete user {{ user.name }}
<form action="/users/{{ user.id }}" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="{{ user.id }}">
    <input type="submit">
</form>
</body>
</html>